/*

!dunst/
!dunst/*

!hypr/
!hypr/*

!kitty/
!kitty/*

!networkmanager-dmenu
!networkmanager-dmenu/*

!rofi
!rofi/*

!todo
!todo/*

!zsh/
!zsh/*
zsh/.zcomp*

!.gitignore
!KEYBINDS.txt

!fastfetch/
!fastfetch/*

!font/
!font/*

!waybar
!waybar/*

!pavucontrol.ini