/*

!hypr/
!hypr/*

!kitty/
!kitty/*

!networkmanager-dmenu
!networkmanager-dmenu/*

!rofi
!rofi/*

!zsh/
!zsh/*
zsh/.zcomp*

!.gitignore
!KEYBINDS.txt

!font/
!font/*

!waybar
!waybar/*

!pavucontrol.ini